{% extends 'base.html' %} {% block content %}
<!-- creating a login form -->
<br />

<!-- if user is authenticated and logged in, we print hello world and wrap the other things inside an else statement -->
<!-- django has inbuilt features to check whether a user is logged in or not -->
<!-- damn django -->
{% if user.is_authenticated %}
<h2>
  <span style="font-weight: 100; color: #999">Welcome,</span>
  <span style="font-weight: 500; color: #333">{{ user.username}}!</span>
</h2>
<!-- now we need to display all the customer records -->
<!-- to increase and decrease table size -->
<!-- maybe consider adding this later -->
<!-- <div style="font-size: small">
        <span class="badge text-bg-warning" style="font-size: medium;">table size: </span>
        <button>small</button>
        <button>medium</button>
        <button>large</button>
    </div> -->
<br />
<!-- add a button to add new records -->
<button class="btn btn-outline-secondary btn-sm">
  <a href="{% url 'add_record' %}">+ Add Customer Record</a>
</button>
<br />
<br />
<h4 style="font-weight: 500">All Customer Records:</h4>
<!-- a note saying if we press on the id of each record, it will expand -->
<span style="font-weight: 100; color: #777">
  NOTE: Click on a record's Customer_ID to view it individually.
</span>
<!-- printing the customers as tables -->
<table class="table table-bordered border-dark table-sm">
  <thead class="table-dark">
    <tr>
      <th scope="col" style="font-weight: 700">Customer_ID</th>
      <th scope="col" style="font-weight: 400">Name</th>
      <th scope="col" style="font-weight: 400">Phone</th>
      <th scope="col" style="font-weight: 400">Email</th>
      <th scope="col" style="font-weight: 400">Address</th>
      <th scope="col" style="font-weight: 400">City</th>
      <th scope="col" style="font-weight: 400">State</th>
      <th scope="col" style="font-weight: 400">Zipcode</th>
      <th scope="col" style="font-weight: 400">Record_Added</th>
    </tr>
  </thead>
  <!-- first, check if there are customers -->
  {% if customers %}
  <!-- then, loop through each customer object/record -->
  {% for customer in customers %}
  <tbody class="table-group-divider">
    <tr>
      <!-- displaying the id as an 'a' tag so that we can href into the necessary record -->
      <!-- inside href we will pass django link and the second parameter will be the customer id such that we get a link of the form, record/customerid or record/1 etc -->
      <th scope="row">
        <a href="{% url 'record' customer.id %}">{{customer.id}}</a>
      </th>
      <!-- displaying other fields normally -->
      <td>{{customer.first_name}} {{customer.last_name}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.state}}</td>
      <td>{{customer.zip_code}}</td>
      <td>{{customer.created_at}}</td>
    </tr>
  </tbody>
  {% endfor %} {% endif %}
</table>

<!-- if user is not logged in -->
{% else %}
<div class="col-md-6 offset-md-3">
  <!-- <div class="d-grid gap-2 col-6 mx-auto"> -->
  <h4 style="font-weight: 400; color: #777">Login to your account</h4>
  <br />
  <!-- </div> -->
  <form method="POST" action="{% url 'home' %}">
    <!-- csrf token is such that hackers don't hack when we submit our form, it stands for Cross-Site Request Forgery -->
    {% csrf_token %}
    <form>
      <div class="mb-3">
        <!-- <label for="exampleInputEmail1" class="form-label">Username</label> -->
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="username"
          required
        />
      </div>
      <div class="mb-3">
        <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="password"
          required
        />
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-outline-success btn-sm">
          login
        </button>
      </div>
    </form>
  </form>
</div>
{% endif %} {% endblock %}
