<!-- specify below to which page we need add this child component to -->
{% extends 'base.html' %} {% block content %}
<!-- creating a login form -->
<div class="col-md-6 offset-md-3">
  <br />
  <!-- if user is authenticated and logged in, we print hello world and wrap the other things inside an else statement -->
  <!-- django has inbuilt features to check whether a user is logged in or not -->
  <!-- damn django -->
  {% if user.is_authenticated %}
  <h2>Welcome, {{ user.username }}!</h2>
  {% else %}
  <!-- <div class="d-grid gap-2 col-6 mx-auto"> -->
  <h4 style="font-weight: 400; color: #777">Login to your account</h4>
  <br />
  <!-- </div> -->
  <form method="POST" action="{% url 'home' %}">
    <!-- csrf token is such that hackers don't hack when we submit our form, it stands for Cross-Site Request Forgery -->
    {% csrf_token %}
    <form>
      <div class="mb-3">
        <!-- <label for="exampleInputEmail1" class="form-label">Username</label> -->
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="username"
          required
        />
      </div>
      <div class="mb-3">
        <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="password"
          required
        />
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-outline-success btn-sm">
          login
        </button>
      </div>
    </form>
  </form>
  {% endif %}
</div>
{% endblock %}
