<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- notice how we gave href in a jinja2 templating style -->
    <a class="navbar-brand" href="{% url 'home' %}">IM/CRM</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- adding the logout button to the navbar -->
        <!-- going to write logic such that only if a user is logged in, the logout button will appear -->
        {% if user.is_authenticated %}
        <li class="nav-item">
          <button
            style="
              background-color: rgb(255, 0, 0);
              border: 1px solid beige;
              padding: 0px 1px;
              border-radius: 5px;
            "
          >
            <a
              class="nav-link"
              href="{% url 'logout' %}"
              style="color: #fff; font-size: small"
              >Logout</a
            >
          </button>
        </li>
        <!-- condition where we need to hide the Sign Up button in the navbar if we are in the register.html page -->
        <!-- when we use the match function given below, django goes to the urls.py file and looks for register url name -->
        {% elif request.resolver_match.url_name == 'register' %}
        <!-- adding the register user button/link if the user didnt login -->
        <li
          class="nav-item"
          style="border: 1px solid beige; border-radius: 5px"
        >
          <a
            class="nav-link"
            style="color: beige; font-size: small"
            href="{% url 'home' %}"
            >Login</a
          >
        </li>
        {% else %}
        <!-- adding the register user button/link if the user didnt login -->
        <li
          class="nav-item"
          style="border: 1px solid beige; border-radius: 5px"
        >
          <a
            class="nav-link"
            style="color: beige; font-size: small"
            href="{% url 'register' %}"
            >Sign Up / Register</a
          >
        </li>
        {% endif %}
      </ul>
      {% if not user.is_authenticated %}
      <span style="color: beige; font-size: x-small"
        >Empowering Your Business: The Ultimate Inventory and Customer
        Management Solution!</span
      >
      {% endif %}
    </div>
  </div>
</nav>
