{% extends 'base.html' %}
<!--  -->
{% block content %}
<!--  -->
<!-- here we will show the user the individual customer record -->
<h4 style="font-weight: 100; color: #999">
  Individual Customer Record of
  <span style="font-weight: 300; color: #333"
    >{{customer_data.first_name}} {{customer_data.last_name}}</span
  >
</h4>
<br />
<!-- it is as easy as this to access a customer record -->
<!-- in our views.py, we have defined this block of code -->
<!-- customer_data = Customer.objects.get(id=pk)
            return render(request, 'record.html', {'customer_data': customer_data}) -->
<!-- this will store into the variable the Customer object with the id  -->
<!-- and in the return part, it will render the record.html page by passing the variable as parameter in which we stored the customer id -->
<!--  -->
<!--  -->
<!-- adding a card styling for the record -->
<div class="card" style="width: 18rem">
  <div
    class="card-header"
    style="font-weight: 500; background: #222; color: beige"
  >
    <span style="font-weight: 400">Customer Name:</span>
    {{customer_data.first_name}} {{customer_data.last_name}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span style="font-weight: 300">Phone:</span> {{customer_data.phone}}
    </li>
    <li class="list-group-item">
      <span style="font-weight: 300">Email:</span> {{customer_data.email}}
    </li>
    <li class="list-group-item">
      <span style="font-weight: 300">Address:</span> {{customer_data.address}}
    </li>
    <li class="list-group-item">
      <span style="font-weight: 300">City:</span> {{customer_data.city}}
    </li>
    <li class="list-group-item">
      <span style="font-weight: 300">State:</span> {{customer_data.state}}
    </li>
    <li class="list-group-item">
      <span style="font-weight: 300">Zipcode:</span> {{customer_data.zip_code}}
    </li>
    <li class="list-group-item">
      <span style="font-weight: 300">Created_at:</span>
      {{customer_data.created_at}}
    </li>
  </ul>
  <div class="card-footer" style="font-weight: 500">
    <span style="font-weight: 400">Customer_ID:</span> {{customer_data.id}}
  </div>
</div>

<!-- adding a back home button -->
<br />
<a href="{% url 'home' %}"
  ><button class="btn btn-outline-secondary btn-sm">< Home</button></a
>
<!-- adding an update record button -->
<a href="{% url 'update_record' %}"
  ><button class="btn btn-outline-primary btn-sm">UPDATE THIS RECORD</button></a
>
<!-- adding a delete button 😢 -->
<!-- this will be programmed in such a way that a modal pops up asking for delete confirmation -->
<button
  class="btn btn-outline-danger btn-sm"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  X <span style="font-weight: bold">DELETE THIS RECORD</span>
</button>

<!-- the modal -->
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span
          class="modal-title fs-5"
          id="staticBackdropLabel"
          style="color: red; font-weight: 300"
        >
          Are you sure you want to delete this record?
        </span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm">
          <!-- adding the delete functionality -->
          <!-- we redirect to the delete_record url and pass in customer_data.id as the second parameter to delete that sepcific record with the mentioned id -->
          <span style="font-weight: bold"
            ><a href="{% url 'delete_record' customer_data.id %}"
              >DELETE</a
            ></span
          >
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
